input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; }

*{
  font-family: 微軟正黑體;
}

body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.bgimg {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;

}

.bgimg::before {
  position: absolute;
  background-image: url(img/bg_img.jpg); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 0.5; 
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

h1{
  padding-top: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;  
}

h2{
  margin: 5px;
}

.inputtext{
  padding-top: 10px;
}

.change-btn {
  margin-top: 10px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  color: white;
  height: 65px;
  left: 30%;
  position: relative;
  border: none;
  width: 20%;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-btn{
  transform: translateX(0px) translateY(10px);
  background-color: grey;
}

#login-btn:hover{
  transform: translateX(0px) translateY(0px);
}

#signup-btn{
  transform = translateX(0px) translateY(10px);
  background-color: #97d64f;
}

#signup-btn:hover{
  transform: translateX(0px) translateY(0px);
}

input[type = email] {
  font-size: 15px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type = text] {
  font-size: 15px;
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  font-size: 15px;
  width: 100%;
  padding: 12px 20px;
  margin: 4px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputsub {
  font-weight: bold;
  width: 100%;
  background-color: #97d64f;
  color: white;
  padding: 10px 20px;
  margin: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition-duration: 0.3s;
}

.inputsub:hover {
  padding-top: 10px;
  background-color: #A9C34B;
}

.bg {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0px;
  width: 40%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#register{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

#login{
  display: none;
}